{% load static %}
<header id="header">
  <div class="">
    <a class="logo" href="/" sl-processed="1">
<!--      <img src="{% static '/blog/img/logo.png' %}" title="My blog">-->
      <h1 class="logo">My blog</h1>
    </a>
      <input class="menu-button" id="btn-mode" type="checkbox">
      <label for="btn-mode" class="btn-switch"><img class="btn-img" src="{% static '/blog/img/moon.svg' %}"></label>
  </div>
  <nav class="navbar navbar-expand-lg navbar navbar-dark">
    <!--  <nav class="navbar navbar-dark" id="wrapper">-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"> 〜ホーム〜 <span class="sr-only">(current)</span></a>
        </li>
        <li class="">
          <a class="nav-link" href="#">カテゴリ </a>
        </li>
      </ul>
          {% include "blog/snippets/search_form.html" %}
    </div>
  </nav>
</header>
