{% load static %}
<header id="header">

  <a class="logo" href="/" sl-processed="1">
    <img src="{% static '/blog/img/logo.png' %}" title="My blog">
    <h1>My blog</h1>
  </a>
  <div class="menu-button">
    <svg>
      <use xlink:href="#btn-menu"></use>
    </svg>
  </div>
<!--  <nav class="navbar navbar-expand-lg navbar navbar-dark">-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--             aria-haspopup="true" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#000;">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <div class="nav-item color-mode">-->
<!--        <p>ダークモード</p>-->
<!--        <input id="btn-mode" type="checkbox">-->
<!--        <label for="btn-mode" class="btn-switch"></label>-->
<!--      </div>-->
<!--      {% include "blog/snippets/search_form.html" %}-->
<!--    </div>-->
<!--  </nav>-->
<!--  <header>-->

  <button class="btn-menu">メニュー</button>
  <nav>
    <ul>
      <li><a href="#">ホーム</a></li>
      <li><a href="#">サービス概要</a></li>
      <li><a href="#">実績紹介</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
    <div class="nav-item color-mode">
      <p>ダークモード</p>
      <input id="btn-mode" type="checkbox">
      <label for="btn-mode" class="btn-switch"></label>
    </div>
    {% include "blog/snippets/search_form.html" %}
  </nav>
<!--</header>-->
</header>
