/***********************
 logo
***********************/
#header a {
  text-decoration: none;
}
.logo h1 {
  font-size: 2.0rem;
  margin: -2.5rem 3rem 2rem 9rem;
}
.logo img {
  width: 3.3rem;
  margin-left: 3rem
}
* {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", sans-serif;
}
/***********************
 main
***********************/
.main-top {
  margin-top: 2rem;
}
.post-data {
  font-size: small;
  color: #6c757d
}

.logo {
    margin-top: 2rem;
    display: inline-block;
}
/***********************
 menu
***********************/
a {
  /*color: #fff;*/
  text-decoration: none;
  white-space: nowrap;
}
/***********************
 button
***********************/
.btn {
  background: #0bd;
  padding: 6px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.demo1 {
  justify-content: center;
   color: #fff;
}

.btn a:hover {
  opacity: 0.7;
}
.btn-primary {
   background: #0bd;
  padding: 6px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #0bd;
    /* border-color: #007bff; */
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    margin-left: -15px;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
/***********************
 card
***********************/
.card {
    /* position: relative; */
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-direction: column;
    /* flex-direction: column; */
    /* min-width: 0; */
    /* word-wrap: break-word; */
    /* background-color: #fff; */
    /* background-clip: border-box; */
    border: #96afaf99;
    /* border-radius: .25rem; */
    border-bottom-style: dotted;
}
/***********************
 comment
***********************/
.comment-area {
  margin-top: 6rem;
}
/***********************
 footer
***********************/
footer {
  margin-top: 7rem;
  margin-bottom: 3rem;
}
