/***********************
 header
***********************/
header {
  margin-bottom: 2rem
}
#header a {
  text-decoration: none;
  font-weight: bold;
  color: #ddd
}
.btn-img {
  margin-left: 2rem
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #header {
    margin: 3rem 5rem 1rem 8rem;
  }
}

@media screen and (min-width:960px) and (max-width:1279px) {
  .logo h1 {
  font-size: 2.0rem;
  }
  #header {
    margin: 3rem 5rem 1rem 8rem;
  }
}
@media screen and (min-width:479px) and (max-width:959px) {
   #header {
    margin: 2rem 3rem 1rem 2rem;
  }
}
@media screen and (max-width: 320px) and (max-width: 478px) {
  .logo h1 {
    font-size: 2.0rem;
    margin: -0.5rem 0rem 0rem .5rem;
  }
  .logo img {
    width: 3.3rem;
    margin-left: 3rem
  }
  #header {
    margin: 1rem -4rem 1rem 0rem;
　}
}
/***********************
 font
***********************/
* {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", sans-serif;
}
/***********************
 main
***********************/
.main-top {
  margin-top: 2rem;
}
.post-data {
  font-size: small;
  color: #6c757d;
}

.logo {
  display: inline-block;
}
/***********************
 menu
***********************/
a.side-tag {
  /*color: #fff;*/
  text-decoration: none;
  white-space: nowrap;
}
/***********************
 button
***********************/
.btn {
  background: #0bd;
  padding: 6px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.demo1 {
  justify-content: center;
   color: #fff;
}

.btn a:hover {
  opacity: 0.7;
}
.btn-primary {
   background: #0bd;
  padding: 6px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #0bd;
    /* border-color: #007bff; */
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    margin-left: -15px;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
/***********************
 card
***********************/
.card {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  border: #96afaf99;
  border-bottom-style: dotted;
}
/***********************
 comment
***********************/
.comment-area {
  margin-top: 6rem;
}
/***********************
 footer
***********************/
footer {
  margin-top: 7rem;
}
#footer {
 margin: 1rem;

}
/***********************
 nav
***********************/
.dropdown-menu {
    position: absolute;
    /* top: 100%; */
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    /* margin: .125rem 0 0; */
    font-size: 1rem;
    color: #424a52;
    text-align: left;
    list-style: none;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid rgba(0,0,0,.15);
    /* border-radius: .25rem; */
}
.navbar-nav .dropdown-menu {
  position: absolute;
  float: none;
  background: #333;
}
.light-theme .navbar-nav .dropdown-menu {
  color: var(--main-text);
  font-weight:bold;
}
#dropdown-menu {
  margin-left: 1rem
}
.nav-items {
  margin-left: 1rem;
  padding-bottom: 1rem;
  line-height: 2.0rem;
}
/***********************
 header footer wide
***********************/
html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
header, footer {
  background-color: #333
}

