/***********************
 logo
***********************/
#header a {
  text-decoration: none;
}
.logo h1 {
  font-size: 2.0rem;
  margin: -2.5rem 3rem 2rem 9rem;
}
.logo img {
  width: 3.3rem;
  margin-left: 3rem
}
* {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", sans-serif;
}
/***********************
 main
***********************/
.main-top {
  margin-top: 2rem;
}
.post-data {
  font-size: small;
}
.post-line {
  background: #3a5d5d!important
}
.logo {
    margin-top: 2rem;
    display: inline-block;
}
/***********************
 menu
***********************/
/* 基本装飾 */
header {
  background: #333;
  padding: .5rem;
  text-align: right;
}
a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
li {
  margin: 2rem 0;
}

/* ボタン */
.btn-menu {
  border: 1px solid #999;
  background: transparent;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}

/* メニュー */
nav {
  background: #333;
  position: absolute;
  z-index: 1;
  top: 3.125rem;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: .5s;
}
/* メニューを開いた時 */
nav.open-menu {
  width: 90%;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem;
}