/***********************
 logo
***********************/
#header a {
  text-decoration: none;
}
.logo h1 {
  font-size: 2.0rem;
  margin: -2.5rem 3rem 2rem 9rem;
}
.logo img {
  width: 3.3rem;
  margin-left: 3rem
}
* {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", sans-serif;
}
/***********************
 main
***********************/
.main-top {
  margin-top: 2rem;
}
.post-data {
  font-size: small;
}
.post-line {
  background: #3a5d5d!important
}
.logo {
    margin-top: 2rem;
    display: inline-block;
}