/***********************
 logo
***********************/
#header a {
  text-decoration: none;
}
.logo h1 {
  font-size: 2.0rem;
  margin: -2.5rem 7rem
}
.logo img {
  width: 3.3rem;
  margin-left: 3rem
}
* {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", sans-serif;
}