/*@media print, screen and (min-width: 960px)*/
/*.post h4 {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    border-left: 9px solid #5fa0da78;
    margin-top: 3.5em;
}*/
/***********************
 title
***********************/
.post-title {
  margin-top: 2rem;
  padding: 15px 20px 0;
}
/** {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", sans-serif;
    margin: 0px;
    padding: 0px;
}*/

entry-title, .post .entry-title {
    font-size: 22px;
    line-height: 35px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}
/***********************
 post data
***********************/
#post-data li {
  margin-bottom: .5em;
}

/***********************
 font
***********************/
.post h2, .post h2 span, .post h3, .post h3 span, .entry-title, .post .entry-title {
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

.has-text-align-center h1{
    padding: 0.5em 0.4em 0.2em;
    border-left: 7px solid #81b5e478;
    line-height: 20px;
    margin: 3em 0 1.5em;
    /* border-bottom: 3px #0bd solid;*/
}
/*@media print, screen and (min-width: 960px)*/
.has-text-align-center h2{
    padding: 0.4em .4em 0.2em;
    border-left: 7px solid #81b5e478;
    line-height: 20px;
    margin: 3em 0 1.5em;
    /*border-bottom: 2px #0bd solid;*/
}
/*@media print, screen and (min-width: 960px)*/
.has-text-align-center h3{
    padding-left: .4em;
    font-size: 20px;
    line-height: 30px;
    border-left: 9px solid #81b5e478;
    margin-top: 3.5em;
    margin-bottom: .5em;
}

.has-text-align-center h4 {
    padding-left: .4em;
    font-size: 16px;
    line-height: 26px;
    border-left: 9px solid #5fa0da78;
    margin-top: 3.5em;
}

/*@media print, screen and (min-width: 960px)*/
.has-text-align-center h5 {
    padding-left: .4em;
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.has-text-align-center h6 {
    padding-left: .4em;
    display: block;
    font-size: 0.83em;
    margin-block-start: 2.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.has-text-align-center li {
  padding: .5em
}

/*code style*/
pre {
    background-color: #eaeaea;
    display: block;
    /*font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;*/
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    white-space: pre;
    margin: 1em 0px;
}
pre code {
  position: relative;
  left: .5em;
}
/* Posting sheet */
@media (min-width: 768px) {
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 1.75rem
  }
  .dark-theme .col-md-8 {
    background: #333;
  }
  .light-theme .col-md-8 {
    background-color: #ddd;
  }
}
#end-hr {
  margin-top: 7rem;
}
