/******************************
 search bar
******************************/
.my-search {
  margin-left: 0.5rem;
}
.hidden {
  display: none;
}
.btn-search {
  background: none;
}
.menu-button {
  display:none
}
#formbox {
  background: #ddd;
  outline: 0;
  border: none;
  width: fit-content;
  border-radius: 26px;
  float: right;
}
/*@media screen and (min-width:479px) and (max-width:1279px) {
  #formbox {
    margin-right: 4.5rem;
  }
}*/
@media screen and (max-width: 320px) and (max-width: 478px) {
  #formbox {
    margin-right: 0em;
  }
}
#kwbox {
  background: #ddd;
  outline: 0;
  border: none;
  margin-bottom: .60rem;
  margin-left: .75rem;
}
#knbtn {
  background: none;
  border: none;
  margin-top: 0rem;
  margin-right: 0rem;
}
.search-box {

}
.search-box input[type=search], .search-box input[type=text] {
    width: 100%;
    height: 40px;
    padding: 4px 25px 4px 4px;
    border: 0;
    border-radius: .5em;
}
.search-box #btn-search {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 40px;
    color: #fff;
    vertical-align: top;
    cursor: pointer;
    background: none;
    border: none;
}