/******************************
 search bar
******************************/
input {
  /*display:none;*/
}
.my-search {
  margin-left: 0.5rem;
}
.hidden {
  display: none;
}
.btn-search {
  background: none;
}
.menu-button {
    display:none
}
#formbox {
  background: #ddd;
  outline: 0;
  border: none;
  width: fit-content;
  border-radius: 26px;
  float: right;
}
@media screen and (min-width:479px) and (max-width:1279px) {
  #formbox {
    /*margin-right: 4.5rem;*/
  }
}
@media screen and (max-width: 320px) and (max-width: 478px) {
  #formbox {
    margin-right: 0em;
}
#kwbox {
  background: #ddd;
  outline: 0;
  border: none;
  margin-bottom: .60rem;
  margin-left: .75rem;
}
#knbtn {
  background: none;
  border: none;
  margin-top: 0.6rem;
  margin-right: 0.25rem;
}