<div id="side">
  <section>
    <h1 class="">カテゴリ</h1>
    <ul class="">
      {% for category in categories|dictsort:"id" %}
      <li class="">
        <a href="{% url 'blog:category_post' category.slug %}" class="">{{ category.name }}</a>
        <span class="badge badge-primary badge-poll">{{ category.num_posts }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h1>タグ</h1>

    <ul>
      {% for tag in tags|dictsortreversed:"num_posts"|slice:":5" %}
      <li>
        <a href="{% url 'blog:tag_post' tag.slug %}" class="card-link">{{ tag.name }}</a>
        <span class="">{{ tag.num_posts }}</span>
      </li>
      {% endfor %}
    </ul>
    <div class="">
      <a href="{% url 'blog:tag_list' %}" class="">すべてのタグを見る</a>
    </div>
  </section>
</div>
