<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Blog{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  {% include "base/css.html" %}
  <!--  <link rel="icon" href="{% static '/blog/img/logo.png' %}">-->

</head>
<body class="light-theme">
{% include "base/header.html" %}
{% block content %}
{% endblock %}

{% include "blog/snippets/footer.html" %}

{% include "base/js.html" %}

</body>
</html>
